.button-icon {
  background-color: rgba(12, 12, 13, 0.8);
  height: 16px;
  mask-size: 16px;
  mask-position: center center;
  mask-repeat: no-repeat;
}

#new-button > .button-icon {
  mask-image: url('/icons/new.svg');
}

.button:hover {
  background-color: rgba(12, 12, 13, 0.1);
}
